@page
@model LoginModel



<div class="loginImage">

    <img src="~/images/loginscreen.jpg" />
</div>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
               
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class=" login-form mb-3">
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="login-form mb-3">
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="btn-register-login">Log in</button>
                </div>
                <div class="accountManagement">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
