html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #F9F9F9;
    overflow-x: hidden;
    scroll-behavior:smooth;
}


.titleSection {
    width: auto;
    height: 90px;
    text-align: center;
    background-color:#2f5d8c;
    color: #f9f9f9;
}

.mainTitle h1 {
    font-family: 'Brittany Signature', sans-serif;
    color: #f9f9f9;
   position:relative;
   top:20px;
    font-size: 45px;
    text-decoration: none;
    text-align:center;
}

.titleSection a {
    text-decoration: none;
}

.active {
    background-color: #a0b3c1;
}

.nav-side {
    height: 100%;
    width: 0;
    background-color: #2f5d8c;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.NavigationSection .nav-side a:hover {
    color: black;
}

.NavigationSection .nav-side a {
    padding: 8px 8px 8px 32px;
    display: block;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.nav-side .closeNavButton {
    position: absolute;
    top: 0;
    margin-left: 165px;
    font-size: 40px;
}

.NavigationSection .hamburgerIcon {
    position: relative;
    color: #F9F9F9;
    top: -76px;
    left: 10px;
    cursor: pointer;
    width: 60px;
}


.slideShow {
    background-color: #A0B3C1;
    width: 70%;
    height: 300px;
    position: relative;
    left: 200px;
    border-radius: 6px;
}

#rightArrow {
    font-size: 50px;
    cursor:pointer;
    position: relative;
    left: 100%;
    top: 1%;
}

#leftArrow {
    font-size: 50px;
    position: relative;
    right: 5%;
    cursor:pointer;
    top: 28%;
}

.darkMode {
    background-color:black;
    color: white;

}
.darkMode .table{
        color: white;
 }

#lightMode {
    background-color: #F9F9F9;
}

#changeTheme
{
    position:relative;
    left:500%;
    top:-25px;
    border:none;
    background-color:white;
    color:black;
    border-radius:5px;
    padding:3px;
}

#changeTheme:hover
{
    background-color:black;
    color:white;
}


.dailyInsperation {
    margin-bottom: 5%;
    width: 100%;
}
.dailyQuotes {
    font-family: 'Californian FB';
    position: relative;
    color: black;
    font-style: italic;
    width: 100%;
    text-align: center;
    top: 100px;
    left: 10px;
    font-size: 35px;
    color: white;
    font-weight:100
}
.dailyInsperation img {
    
    width: 120%;
    position: relative;
    right:10%;
}

.dailyTitle {
    text-align: center;
    font-family: sans-serif;
    color: white;
}
.dailyQuotesBackground {
    background-color: #2F5D8C;
    width: 82%;
    height: 350px;
    position: relative;
    
    top: -800px;
    left: 100px;
    opacity: 0.9;
    border: 4px solid black;
    border-radius:100px;
}
.slider:checked {
    background-color: lightgreen;
}

    .slider:checked::after {
        left: 70%;
    }

.footerSection {
    width: 84%;
    margin-left: 8%;
    padding: 10px;
    background-color: #2F5D8C;
    border-radius: 10px;
    height: 300px;
}

    .footerSection .CopyRightInfo {
        color: white;
    }

.books_read_type {
    background-color: lightslategray;
    width: 94%;
    margin-left: 46px;
    height: 200px;
}

.books_read_Fiction {
    background-color: lightslategray;
    width: 94%;
    margin-left: 46px;
    height: 200px;
    margin-top: 10px;
}

.books_read_NonFiction {
    background-color: lightslategray;
    width: 94%;
    margin-left: 46px;
    height: 200px;
    margin-top: 10px;
}

.title_previews {
    text-align: center;
    font-family: sans-serif;
    background-color: orange;
}

.timeline_intro img {
    width: 120%;
    position: relative;
    right: 100px;
    top: -49px;
    opacity: 0.7;
    height: 800px;
}

.timeline_intro h2 {
    font-family: 'Courier New';
    font-weight: bold;
    color: white;
    position: relative;
    top: 150px;
    font-size: 54px;
    text-align: center;
    left: 0px;
}

.timeline_intro p {
    font-family: 'Courier New';
    font-weight: 100;
    color: white;
    position: relative;
    top: 150px;
    font-size: 25px;
    text-align: center;
    left: 0px;
}

.rectangleShape {
    background-color: #2F5D8C;
    width: 62%;
    height: 550px;
    position: relative;
    top: -600px;
    opacity: 0.9;
    border-top-right-radius: 300px;
}

.form-floating
{
    margin-left:440px;
    margin-bottom:20px;
    width:110%;
}

.login-form {
  position:relative;
  left:220%;
  top:-600px;
}

.loginImage img /* taken from: https://unsplash.com/photos/TamMbr4okv4 */ {
    width: 75%;
    position: relative;
    right: 111px;
    top: -46px;
}
.btn-register-login {
    position: relative;
    padding: 10px;
    top: -600px;
    margin-bottom: 50px;
    font-size: 20px;
    background-color: orange;
    border-radius: 6px;
    width: 80%;
    border: none;
    left: 230%;
}

.accountManagement {
    position: relative;
    left: 250%;
    top:-650px;
}
 .accountManagement a {
     text-decoration:none;

 }
.btn-register {
    position: relative;
    padding: 10px;
    top: 10px;
    margin-bottom: 50px;
    font-size: 20px;
    background-color: orange;
    border-radius: 6px;
    width: 80%;
    border: none;
    left: 500px;
}

.btn-register:hover {
    background-color: darkorange;
}
.RegisterTitle {
    position: relative;
    left: 500px;
    font-family: sans-serif 'Modern No. 20';
}

.questionToBeAnswered {
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    border: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    transition: .3s;
    width: 100%;
    text-align: left;
}
.questionToBeAnswered h2 {
    font-size:24px;
    margin-top:10px;
    
   
}

 .questionToBeAnswered:hover {
        color: #D55E2D;
    }

.answerForQuestions
{
    overflow:hidden;
    /* should not be displayed until clicked*/
    display:none;
    
}

#arrowDown
{
    position:relative;
    left:96%;
    top:-30px;
    font-size:23px;
    
    
}
#arrowUp {
    position: relative;
    left: 96%;
    top: -30px;
    font-size: 23px;
    display:none;
}
.minus
{
    display:none;
}

.processOfJoining h2{
    font-family: sans-serif 'Modern No. 20';
    text-align:center;
    font-size:24px;
    padding:10px;

}
.processOfJoining a 
{
   font-family: sans-serif 'Modern No. 20';
   text-decoration:none;
}


/* MENTAL HEALTH CSS */
.mh_intro
{
    
    background-color: #A0B3C1;
    height:500px;
    width:110%;
    position:relative;
    left:-60px;
    border-radius:10px;
}


.mh_intro img{ /* image from: */
   width:50%;
   height:auto;
   border-radius:300px;
   position:relative;
   left:700px;
   top:-500px; 
   padding:10px;
}


.mh_intro h1 {
   
    height: 500px;
    width:50%;
    padding:10px;
}

.mh_lonely
{
    height:500px;
    

}
.mh_lonely h2 {
    text-align: left;
    font-size: 30px;
    font-weight:700;
    width:32%;
    padding:5px;
    margin-top:100px;
}

.mh_lonely p
{
    text-align:justify;
    font-family:sans-serif;
}

.mh_support
{
    height:500px;
}
.mh_support h4 {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    padding: 5px;
    margin-top: 100px;

}
.mh_support p 
{
    text-align:justify;
    font-family:sans-serif;
    text-align:center;
}

.mh_improve h4 {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    padding: 5px;
    margin-top: 100px;
}

.mh_improve 
{
    height:500px;
}
.mh_improve p {
    text-align: justify;
    font-family: sans-serif;
    text-align: center;
    font-size:20px;
    }

.mh_charities {
    height: 500px;
}

.mh_charities h4 {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    padding: 5px;
    margin-top: 100px;
}
.mh_charities p {
    text-align: justify;
    font-family: sans-serif;
    text-align: center;
    font-size:20px;
}

.charity_logos img
{
    width:20%;
    mix-blend-mode:multiply;
    margin-left:10%;
}

.bottomLinks
{
    
}
.footerSection ul {
    list-style-type:none;
    margin:0; 
    padding:0;
    
}
.footerSection li {
}
.footerSection li a {
        display: block;
        text-decoration:none;
        color:white;
        text-align:center;
        font-size:13px;

}
.footerSection li a:hover {
        color: #D55E2D

}

.center_content
{
    padding:1px;
    margin-right:50px;
    margin-left:50px;
    text-align:justify;
    font-size:17px;
    margin-bottom:50px;
}
.center_content h2{
    text-align:center;
   
}
.center_content h3 {
    text-align: center;
    font-family: sans-serif 'Modern No. 20';
  

}
.modern_line {
    border: 2px solid #D55E2D;
}

.deleteRole {
    padding: 10px;
    text-decoration: none;
    color: #D55E2D;
    border-radius: 10px;
}
.deleteRole:hover
{
    color:red;
}
.NewRole
{
    width:100%;
    position:relative;
    left:10%;
    margin:10px;
}
.NewRole label
{
    text-align:center;
    font-size:21px;
    padding-right:20px;
}
.NewRole input[type=text]
{
    width:50%;
    font-size:18px;
    border:1px solid black;
    border-radius:10px;
    padding:5px;
}
.NewRole input[type=submit] {
    background-color: green;
    border:none;
    font-size:17px;
    padding:7px;
    color:white;
    width:10%;
    border-radius:5px;

}
.NewRole input[type=submit]:hover {
    color:black;
}

.userAccount
{
    margin-top:10px;
    font-size:14px;
    border-radius:5px;
    width:72%;
    border:1px solid black;
}


input[type=submit] {
    border-radius: 5px;
    border: none;
    width: 25%;
    background-color: red;
    padding:2.5px;
    color:white;

}

.Ring {
    background-color: #d8d8d6;
    border-radius: 50%;
    height: 550px;
    width: 45%;
    margin-left: 340px;
    border: 4px solid #D55E2D;
   
}
.hideInputs
{
    display:none;
}
.Ring input[type=number]
{
    margin-left:70px;
    margin-top:100px;
    padding:2px;
    font-size:20px;
    width:75%;
    border:none;
    border-radius:10px;
    
}
.Ring input[type=number]::placeholder {
 font-size: 15px;
  text-align: center;

}

.Ring p
{
   color:black;
   font-size:50px;
   margin-left:105px;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Ring button
{
    border:none;
    margin-top:20px;
    margin-left:200px;
    padding:4px;
    width:30%;
    border-radius:7px;
}
.Ring button:hover 
{
    background-color:black;
    color:white;

}


.emailSender {
    background-color: #a0b3c1;
    border-radius:3px;
}
.emailSender input[type=text] {
    display: block;
    margin-left:440px;
    border:none;
    padding:4px;
    border-radius:3px;
    font-size:17px;
    width:32%;
}

.emailSender label
{
    padding:5px;
    font-variant-caps:all-petite-caps;
    font-size:20px;
    margin-left:48%;
}

.emailSender input[type=text]:hover
{
    border: 2px solid black;
}
.emailSender textarea:hover {
    border: 2px solid black;
}
.emailSender .bodyInput
{
    margin-bottom:50px;
}

.bodyInput textarea {
    height: 80px;
    margin-top:10px;
    margin-left:438px;
    border:none;
    resize:none;
    padding:10px;
    border-radius:4px;
}


.emailSender input[type=submit]
{
    background-color:orange;
    margin-left:38%;
    color:black;
    padding:5px;
}
.emailSender input[type=submit]:hover
{
    background-color: green;
    color:white;
}
.emailSender input::placeholder
{
    font-size:14px;
    text-align:center;
}
.emailSender textarea::placeholder {
    font-size: 14px;
    text-align: center;
}
/* MOOD color classes*/
.Simplicity
{
    background-color:white;
    color:black;
}

.Relaxation {
    background-color: #43A6C6;
}

.Realism {
    background-color: #c0c0c0;
    color:black;
}

.Friendliness {
    background-color: #ffc0cb;
}

.moodDropDown {
    position: relative;
    left: 42%;
    top: -35%;
    padding: 5px;
    overflow: hidden;
    cursor:pointer;
    color: black;
    width: 210px;
    outline:none;
}

moodDropDown:hover
{
    border:10px solid red;
}



