@page
@model Bookclub.Pages.AboutModel
@{
    ViewData["Title"] = "About Us ";
    ViewData["AboutAct"] = "active";
}
<section class="about-heading">
    <img src="~/images/about.jpg" />
        <h1>About Us...</h1>
</section>




<div class="Acontainer">




<section class="Mission">
    <h2>Our Misson </h2>
</section>

<section class="History">
    <h2>Our Past</h2>
</section>

<section class="Links">
    <h2>Social Media</h2>
</section>

</div>


