@page
@model Bookclub.Pages.AboutModel
@{
    ViewData["Title"] = "About Us ";
    ViewData["AboutAct"] = "active";
}
<section class="about-heading">
    <img src="~/images/about.jpg" />
        <h1>About Us...</h1>
</section>




<div class="Acontainer">




<section class="Mission">
    <h2>Our Misson </h2>
    <br />
        <p>
            Our mission is to help build a diverse community where everyone can talk about their day and books.
            We want to build our bright vibrant community where everyone feels accepeted.
        </p>
</section>

<section class="History">
    <h2>Our Past</h2>
    <p> This bookclub is built upon excellence and the vision to help those who are looking for a community to join. We aim to bring people together. Thats our motto.</p>
</section>

<section class="Links">
    <h2>Social Media</h2>
    <p>You can find us on these social medias!</p>

      <div class="socialsFooter">

            <a href="https://www.instagram.com/" target="_blank">

                <i class="fa-brands fa-instagram fa-2x"></i>
            </a>

            <a href="https://www.facebook.com/" target="_blank">

                <i class="fa-brands fa-facebook fa-2x"></i>
            </a>

            <a href="https://twitter.com/" target="_blank">

                <i class="fa-brands fa-twitter fa-2x"></i>

            </a>

            <a href="https://uk.linkedin.com/" target="_blank">

                <i class="fa-brands fa-linkedin fa-2x"></i>

            </a>
        </div>
 </section>

</div>


