@page
@model Bookclub.Pages.FAQModel
@{
    ViewData["Title"] = "Frequently Asked Questions ";
    ViewData["FAQAct"] = "active";
}

<h1>@ViewData["Title"]</h1>



    <button class="questionToBeAnswered"id="accordian">
    <h2> What happens if I don't read? </h2>
        </button>
    <div class="answerForQuestions">
        <p> That is okay! Not all our members read, it is entirely up to you!</p>
    </div>


<button class="questionToBeAnswered"> 
    <h2> What can I do if the support does not work? </h2>
    </button>
<div class="answerForQuestions">
    <p> It can be tough to find something that wil help; people respond differently.
        Therefore, it is vital to be open about the sort of help you can find in order to fight.</p>
</div>

  <button class="questionToBeAnswered"> 
      <h2> Question to be asked: </h2>
      </button>
    <div class="answerForQuestions">
        <p> answer to question</p>
    </div>




