@page
@model Bookclub.Pages.FAQModel
@{
    ViewData["Title"] = "Frequently Asked Questions ";
    ViewData["FAQAct"] = "active";
}

<h1>@ViewData["Title"]</h1>



    <button class="questionToBeAnswered"> <h2> Question to be asked: </h2></button>
    <div class="answerForQuestions">
        <p> answer to question</p>
    </div>


<button class="questionToBeAnswered"> <h2> Question to be asked: </h2></button>
<div class="answerForQuestions">
    <p> answer to question</p>
</div>



  <button class="questionToBeAnswered"> <h2> Question to be asked: </h2></button>
    <div class="answerForQuestions">
        <p> answer to question</p>
    </div>




