@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["HomeAct"] = "active";
}

<section class="slideShow">
    <a><p id="leftArrow">&#x2190;</p></a>
    <a><p id="rightArrow">&#x2192;</p></a>
</section>


<section class="processOfJoining">
    <h2>Already have an account? <a href="#"> Login here </a> </h2>
</section>


<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-8abc5025-bb50-42e1-bff3-a974133239a6"></div> <!-- used via: https://apps.elfsight.com/panel/applications/google-reviews/ -->