@page
@model Bookclub.Pages.MeetingsModel
@{

    ViewData["Title"] = "Attend a meeting ";
    ViewData["MeetingsAct"] = "active";
}


<h1> Join a meeting from here </h1>
@*taken from: https://amplifyplugins.com/zoom-livestream/ *@
<div class="zoom">

    <iframe src="https://zoom.us/wc/92546064899/join?prefer=0&amp;pwd=xcxQR1" style="border: 0; width: 100%; height:600px;" allow="microphone; camera; fullscreen" sandbox="allow-forms allow-scripts allow-same-origin">
    </iframe>


</div>
