@page
@model Bookclub.Pages.MentalhealthModel
@{
     ViewData["Title"] = "Mental Health";
     ViewData["MHAct"] = "active";
}
<section class="mh_intro"> 
    
    <h1> Raising awareness for mental health</h1>
    <p>Mental health has been around for long enough but now is our time to fight back!</p>
    <img src="~/images/mh_intro1.jpg" />
</section>

<section class="mh_lonely">
    <h2>The battle against loneliness</h2>
    <hr />
    <p> Mental health has been around for a long time and normally occurs in many forms. This includes, emitional, 
        psychological and social forms. This then effects the way people think, talk,eat and sleep. It is a intrustion on our
        daily lives. 
        <br />
        <br /> 
        We here at Between 2 Lines, are trying to fight back and help those who are struggling with Mental Health. One of the most neglected areas of Mental Health is 
        lonelness. Our mission is to raise more awanress for the cause and help those who are feeling lonley to come forth. It is not an easy task coming forth and saying 
        you suffer with Lonlness. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu lorem pulvinar, blandit mauris eu, scelerisque nisl. Nulla rhoncus lacus eget dolor sollicitudin, sed maximus tellus congue. Cras quis arcu in magna tincidunt venenatis id non augue. Fusce at ullamcorper tellus, ut pulvinar ipsum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam a rhoncus dui, interdum ullamcorper lectus. Proin ac tempor est. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc rutrum cursus mauris, a convallis justo pharetra at. Sed vitae lectus sit amet massa pharetra ornare et eu velit. Interdum et malesuada fames ac ante ipsum primis in faucibus.
    </p>

</section>


    <section class="mh_support">
        <h4> How to support others</h4>
        <hr />
        <p>Here is how to support others as well improve your own mental health</p>
    <img src="~/images/mentalhealthposter.jpg" cite="https://charliewaller.org/resources/five-ways-to-wellbeing-posters/" />

    </section>

<section class="mh_charities">
    <h4> Donate</h4>
    <hr />
    <p> Make a change by donating to one of these charities.</p>
    <div class="charity_logos">
        <a href="https://www.mind.org.uk/donate/" target="_blank"> <img src="~/images/mind.png" /> </a>
        <a href="https://www.mentalhealth.org.uk/get-involved/ways-donate/donate-mental-health-foundation" target="_blank"><img src="~/images/mental-health-foundation-logo.png" /> </a>
        <a href="https://mentalhealth-uk.org/donate/" target="_blank"><img src="~/images/mentalhealthuk.png" /></a>

    </div>
</section>

