@page
@model Bookclub.Pages.MentalhealthModel
@{

}
<section class="mh_intro"> 
    
    <h1> Raising awareness for mental health</h1>
    <img src="~/images/mh_intro1.jpg" />
</section>

<section class="mh_lonely">
    <h2>The battle against lonleness</h2>
    <hr />
    <p> Default text ... </p>

</section>


    <section class="mh_support">
        <h4> How to support others</h4>
        <hr />
          <p> default text</p>
    </section>


    <section class="mh_improve">
        <h4> How to improve your mental health</h4>
    <hr />
        <p> There are many ways in how you can improve your mental health. If you follow these 3 simple steps shown below, you can brigthen up your mind!</p>
    </section>

<section class="mh_charities">
    <h4> Dontate</h4>
    <hr />
    <p> Make a change by donating to one of these charities.</p>
    <div class="charity_logos">
        <a href="https://www.mind.org.uk/donate/" target="_blank"> <img src="~/images/mind.png" /> </a>
        <a href="https://www.mentalhealth.org.uk/get-involved/ways-donate/donate-mental-health-foundation" target="_blank"><img src="~/images/mental-health-foundation-logo.png" /> </a>
        <a href="https://mentalhealth-uk.org/donate/" target="_blank"><img src="~/images/mentalhealthuk.png" /></a>

    </div>
</section>

