@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<section class="center_content">
    <h2>Your rights</h2>
    <hr class="modern_line"/>
    <h4>The privacy policy describes on how your personal information is collected from Between 2 lines.We matter our privacy very importantly and therefore, 
        this policy has been developed for yout to understand how we collect your personal infromation.
    </h4>
</section>

<section class="center_content"> 
    <h2>What data do we collect about you?</h2>
    <hr class="modern_line" />
    <p>This can be broken down into different categories:</p>
    
    <h3>Communication Data</h3>
    <hr class="modern_line" />
    <p>This data includes any sort of communication you have had with us which is through our contact forms. We process this information which is recorded
        for any defenace of legal claims.
    </p>

    <h3>User data</h3>
    <hr class="modern_line" />
    <p>This data includes the way you use the website such as making a review and we process this data to publish it back onto our website to show users the review made by you.</p>

    <h3>Customer data</h3>
    <hr class="modern_line" />
    <p>The is data includes the process of joining any services such as your name,title,phone number and email. We process this data to enable us to provide the service
        you have orignally signed up for.However,by not providing the required data will result to some features not being able to work.</p>

   <h3>Sensitive data</h3>
    <hr class="modern_line" />
   <p>We do not collect any sort of sensitive data about you. What is meant by sensitive data? This is refers to data about your race, beliefs, religion, sex, and sexual orientation, polical views
       , health information and criminal convications <br /> We only collect the data which is provided by you</p>


    <h3>Data security</h3>
    <hr class="modern_line" />
    <p>There are measures which have been put into place so that the data provided by you is not lost, used, shared, or accessed without authorisation.We allow access to your personal data 
        to only those such as employees who need to know such as data. Futhermore, there are also measures which have been put into place if there is any suspicon of personal data breach.

    </p>

    <h3>Legal rights</h3>
    <hr class="modern_line" />
    <p>Under the data protection lawas you have rights to your personal data such as the right to request personal, correct any mistakes, restrict, transfer your data,
        object to any processing of your data.

        For more information about your rights, please visit:<a target="_blank" href="https://www.gov.uk/data-protection#:~:text=The%20Data%20Protection%20Act%202018%20is%20the%20UK's%20implementation%20of,used%20fairly%2C%20lawfully%20and%20transparently">Data protection</a>
    </p>
</section>

