@page
@model Bookclub.Pages.TimelineModel
@{
    ViewData["Title"] = "Timeline of books read";
    ViewData["TimeLineAct"] = "active";
}

<section class="timeline_intro">
    <img src="~/images/timelinehero.jpg" alt=" Shows a pile of books which introduces the section for books read" /> <!--*taken from: https://unsplash.com/photos/LUGuCtvlk1Q-->
    <div class="rectangleShape"/>
    <h2>What we have read</h2>
    <p>Here you will find all previous books read...Each section highlights the popluar books from those sections</p>
</section>


<section class="books_read_type">
    <h3 class=" title_previews ">Fantasy</h3>


    <a href="/BookPage">
        @*clickable images will go here*@    
    </a>

    <a href="/BookPage">
        @*clickable images will go here*@
    </a>

    <a href="/BookPage">
        @*clickable images will go here*@
    </a>

    <a href="/BookPage">
        @*clickable images will go here*@
    </a>

    <a href="/BookPage">
        @*clickable images will go here*@
    </a>
</section>

<section class="books_read_Fiction">
 <h3 class=" title_previews ">Fiction</h3>

</section>



<section class="books_read_NonFiction">
    <h3 class=" title_previews ">Non-Fiction</h3>

</section>


