@page
@model Bookclub.Pages.TimerModel
@{
}
<h1>Reading Timer</h1>
<p>Here you can set yourself a time you'd like to read for.</p>

<div class="Ring">
    <input type="number" id="hour" class="remove" placeholder="enter the hours here" />
    <input type="number" id="minute" class="remove" placeholder="enter the mintues here" />
    <input type="number" id="seconds" class="remove" placeholder="enter the seconds here" />
    <button id="startTimerButton"onclick="hideFunction()">Set Timer</button>
    <button id="stopTimerButton">Stop Timer</button>
    <p id="theTimer"></p>
</div>






<script src="~/js/timer.js" asp-append-version="true"></script>

